%script{ type: 'text/x-handlebars' }
  .navbar.navbar-default{role: "navigation"}
    .container-fluid
      .navbar-header
        %a.navbar-brand{href: "#"} Facture
      .navbar-collapse.collapse
        .nav.navbar-nav
          %li {{#link-to 'projects'}}Projects{{/link-to}}

  {{ outlet }}